---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <h1>Introduction</h1>
  <p>We are delighted to inform you that the "International Conference on Extreme Value Theory and Quantitative Risk Management"
    (EVT & QRM) will take place at Fudan University in Shanghai,China, on July 29-31, 2024. 
    In order to participate，click the "registration" above and submit your application by May 1.

  Welcome to EVT & QRM 2024!</p>

  


  

</div>
