---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  <p>A network of bioinformaticians and users or bioinformatics services in the north of England. Inspired by NextGenBUG 
    we hold meetings three times a year to build a community of researchers and others using big data in biology.
    We are supported by <a href="http://www.genetics.org.uk/events/northern-bioinformatics-user-group-northern-bug/">The Genetics Society</a>
    as a <a href == "https://genetics.org.uk/events_categories/special-interest-groups/">Special Interest Group.</a></p>

  <p><img src="/Users/rechexliu/Downloads/IMG_9752.JPG"></p>


  

</div>
