---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <h1>Introduction</h1>
  <p>We are thrilled to convey the exciting news that the esteemed "International Conference on Extremes, 
    Statistics, and Quantitative Risk Management" 
    is scheduled to be held at Fudan University, located in the vibrant city of Shanghai, China, 
    from July 29th to July 31st, 2024. This conference promises to be a unique gathering of experts, 
    researchers, and practitioners from various fields who share a keen interest in the evolving landscape 
    of extreme value theory and quantitative risk management.

  </p>
  <p>
  In today's increasingly complex and uncertain world, extreme value theory and quantitative risk management
  have become indispensable tools for understanding, assessing, and mitigating risks across a wide range of 
  industries. From finance to insurance, from network science to healthcare, the ability to 
  analyze extreme events and quantify their potential impacts is crucial for making informed decisions and 
  protecting against potential losses.
  </p>

  <p>
  To ensure your participation in this exciting event, we invite you to click on the "registration" link 
    provided above and submit your application by July 24th, 2024. We encourage you to seize this opportunity 
    to be a part of the discussions, exchange ideas, and network with the leading minds in this field.
  </p>

  <p>
    We warmly welcome you to attend EVT & QRM 2024, where you will have the chance to delve deeper into 
    the intricacies of extreme value theory, explore innovative quantitative risk management strategies, and 
    contribute to the ongoing advancements in this crucial area of study. We are confident that your 
    participation will enrich the conference experience for all.
  </p>

    

  


  

</div>
